<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <base href="/" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">


    <link rel="stylesheet" type="text/css" href="@Assets["css/bootstrap.css"]" />
    <link rel="stylesheet" type="text/css" href="@Assets["css/owl.carousel.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/nice-select.min.css"]"  />
    <link href=@Assets["css/font-awesome.min.css"]" rel="stylesheet" />
    <link href="@Assets["css/style.css"]" rel="stylesheet" />
    <link href="@Assets["css/responsive.css"]" rel="stylesheet" />
    <link href="@Assets["css/googlefont.css"]" rel="stylesheet">


    <link href= "@Assets["css/mystyle.css"]" rel="stylesheet" />

     <link rel="stylesheet" href="@Assets["NinjaDev.styles.css"]" /> 



    <HeadOutlet />
    <ImportMap />

    <title>NinjaDev</title>

</head>

<body>
    <Routes />



    <script src="@Assets["js/jquery-3.4.1.min.js"]"></script>
    <script src="@Assets["js/popper.min.js"]">
    </script>
    <script src="@Assets["js/bootstrap.js"]"></script>
    <script src="@Assets["js/owl.carousel.min.js"]">
    </script>
    <script src="@Assets["js/isotope.pkgd.min.js"]"></script>
    <script src="@Assets["js/jquery.nice-select.min.js"]"></script>
    <script src="@Assets["js/custom.js"]"></script>
    <script src="@Assets["js/googleapi.js"]">
    </script>




    <script>
        function changeColor(xyzcolor) {
            document.body.style.color = xyzcolor;
        }
    </script>




    <script src="_framework/blazor.web.js"></script>


    <script>
        window.changeBackgroundColor = function (color) {
        console.log(color);
        document.body.style.color = color ;

        };
    </script>
</body>

</html>
